---
title: Community
---

<!Doctype html>
<html id="community">
{% include head-header.html %}

<section id="hero" class="light-text">
	<h1>Community</h1>
</section>



<section id="mainContent">
	<main>
		<div class="content">
			<h3>Ensuring Gemini works well everywhere and for everyone.</h3>
			<p>Connect with the Gemini community on our <a href="http://gemini-project.slack.com/">Slack channel</a> or join the
				<a href="https://groups.google.com/forum/#!forum/geminio">Gemini-dev Google group</a>. A weekly
				community meeting takes place via video conference to discuss the state of affairs,
				<a href="https://groups.google.com/forum/#!forum/gemini-community-video-chat">get a calendar invite</a>
				to participate.</p>
		</div>
	</main>
</section>

<section id="talkToUs">
	<main>
		<h3>Talk to Us!</h3>
		<h4>We would love to hear from you, how you are using Gemini,<br> and what we can do to make it better.</h4>
		<div id="bigSocial">
			<div>
				<a href="https://github.com/gemini-project/gemini">Github Project</a>
				<p>Check out the project and consider contributing.</p>
			</div>
			<div>
				<a href="http://gemini-project.slack.com/">#gemini-users</a>
				<p>Our Slack channel is the best way to contact our engineers and share your ideas with them.</p>
			</div>
			<div>
				<a href="http://stackoverflow.com/questions/tagged/gemini">Stack Overflow</a>
				<p>Our user forum is a great place to go for community support.</p>
			</div>
		</div>
	</main>
</section>

{% include footer.html %}

</body>
</html>
