<footer>
	<main class="light-text">
		<nav>
			<a href="/docs/">Documentation</a>
			<a href="http://blog.gemin.io/">Blog</a>
			<a href="/community/">Community</a>
		</nav>
		<div class="social">
			<div>
				<a href="https://github.com/gemini-project/gemini" class="github"><span>Github</span></a>
				<a href="http://gemini-project.slack.com/" class="slack"><span>Slack</span></a>
			</div>
			<div>
				<a href="http://stackoverflow.com/questions/tagged/gemini" class="stack-overflow"><span>Stack Overflow</span></a>
				<a href="https://groups.google.com/forum/#!forum/geminio"><span>Mailing List</span></a>
			</div>
			<div>
				<span>I wish this page</span>
				<input type="text" id="wishField" name="wishField" placeholder="enter your wish">
			</div>
		</div>
		<div id="miceType" class="center">&copy; {{ 'now' | date: "%Y" }} Gemini</div>
	</main>
</footer>
