{% if page.title %}{% assign title=page.title %}{% endif %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="canonical" href="http://gemin.io{{page.url}}" />
	<link rel="shortcut icon" type="image/png" href="/images/favicon.png">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto+Mono' type='text/css'>
	<link rel="stylesheet" href="/css/styles.css"/>
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
        <link rel="stylesheet" href="/css/sweetalert.css">
	<script src="/js/jquery-2.2.0.min.js"></script>
        <script src="/js/jquery-ui.min.js"></script>
	<script src="/js/script.js"></script>
        <script src="/js/sweetalert.min.js"></script>
	<title>Gemini - {{ title }}</title>
</head>
<body>
<div id="cellophane" onclick="kub.toggleMenu()"></div>
<header>
	<a href="/" class="logo"></a>
	<div class="nav-buttons" data-auto-burger="primary">
		<a href="/docs/" class="button" id="viewDocs" data-auto-burger-exclude>View Documentation</a>
		<a href="/docs/hellonode/" class="button" id="tryGemini" data-auto-burger-exclude>Try Gemini</a>
		<button id="hamburger" onclick="kub.toggleMenu()" data-auto-burger-exclude><div></div></button>
	</div>

	<nav id="mainNav">
		<main data-auto-burger="primary">
			<div class="nav-box">
				<h3><a href="/docs/hellonode/">Get Started</a></h3>
				<p>Ready to get your hands dirty? Build a simple Gemini cluster that runs "Hello World" for Node.js.</p>
			</div>
			<div class="nav-box">
				<h3><a href="/docs/">Documentation</a></h3>
				<p>Learn how to use Gemini with the use of walkthroughs, samples, and reference documentation. You can even <a href="/editdocs/" data-auto-burger-exclude>help contribute to the docs</a>!</p>
			</div>
			<div class="nav-box">
				<h3><a href="/community/">Community</a></h3>
				<p>If you need help, you can connect with other Gemini users and the Gemini authors, attend community events, and watch video presentations from around the web.</p>
			</div>
		</main>
		<main data-auto-burger="primary">
			<div class="left">
				<h5 class="github-invite">Interested in hacking on the core Gemini code base?</h5>
				<a href="https://github.com/gemini-project/gemini" class="button" data-auto-burger-exclude>View On Github</a>
			</div>

			<div class="right">
				<h5 class="github-invite">Explore the community</h5>
				<div class="social">
					<a href="https://github.com/gemini-project/gemini" class="github"><span>Github</span></a>
					<a href="http://gemini-project.slack.com/" class="slack"><span>Slack</span></a>
					<a href="http://stackoverflow.com/questions/tagged/gemini-project" class="stack-overflow"><span>Stack Overflow</span></a>
					<a href="https://groups.google.com/forum/#!forum/geminio" class="mailing-list"><span>Mailing List</span></a>
				</div>
			</div>
			<div class="clear" style="clear: both"></div>
		</main>
	</nav>
</header>
